{{ form_start(form) }}
    <div class="row align-items-center">
        <div class="col">
            <strong>{{ form_label(form.descricao) }}</strong>
            {{ form_widget(form.descricao) }}
        </div>
         <div class="col-md-auto align-self-end mb-1">
            {{ form_widget(form.ativo) }}
        </div>
        <div class="col-md-auto col-md-auto align-self-end">
            <button class="btn btn-primary">{{ button_label|default('Salvar') }}</button>
        </div>
    </div>
{{ form_end(form) }}
